.details-container {
  display: flex;
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #a4261d, #5755a7, #d91c1f);
  border: 3px solid #f26d22;
  flex-direction: column;
  justify-content: center;
}
.members {
  height: 150px;
  margin: 40px;
}

@media screen and (min-width: 768px) {
  .members {
    height: 400px;
  }
}
.heading {
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 23px;
  margin-left: 10px;
}

@media screen and (min-width: 768px) {
  .heading {
    margin-left: 30px;
  }
}
.lists-container {
  display: flex;
  flex-wrap: wrap;
}
